<!DOCTYPE html>
<html ng-app="gemStore">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link data-require="semantic-ui@*" data-semver="0.9.6" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.6/css/semantic.min.css" />
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="semantic-ui@*" data-semver="0.9.6" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.6/javascript/semantic.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <script src="app.js"></script>
   <!--  <script src="products.js"></script> -->
  </head>

    <body ng-controller="StoreController as store">
    <!--  Store Header  -->
        <header>
          <h1 class="text-center">Flatlander Crafted Gems</h1>
          <h2 class="text-center">– an Angular store –</h2>
        </header>

        <!--  Products Container  -->
        <div class="list-group">
          <!--  Product Container  -->
            <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
                <h3>Gem #{{$index + 1}}: {{product.name | uppercase}}<em class="pull-right">{{product.price | currency}}</em>
                </h3>
                 <img ng-src="{{product.images[0]}}" class="center-block"/>
                 <br/>
                <section ng-controller = "PanelController as tab">
                    <ul class="nav nav-pills" >
                    <li ng-class="{active:tab.isSelected(1)}"> <a href ng-click="tab.selectTab(1)">Description</a></li>
                    <li ng-class="{active:tab.isSelected(2)}"> <a href ng-click="tab.selectTab(2)">Specification</a><li>
                    <li ng-class="{active:tab.isSelected(3)}"> <a href ng-click="tab.selectTab(3)">Reviews</a></li>

                    </ul>
                    <br/>
                    <div class="panel" ng-show = "tab.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show = "tab.isSelected(2)">
                        <h4>Specification</h4>
                        <p>None</p>
                    </div>
                    <div class="panel" ng-show = "tab.isSelected(3)">
                        <h4>Reviews</h4>
                        <blockquote ng-repeat="review in product.reviews">
                                <b>stars:{{review.stars}}</b>
                                    {{review.body}}
                                <cite>by:{{review.author}}</cite>
                        </blockquote>
                       
                       <form name="reviewForm" ng-controller = "ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                            <blockquote>
                                <b>stars:{{reviewCtrl.review.stars}}</b>
                                    {{reviewCtrl.review.body}}
                                <cite>by:{{reviewCtrl.review.author}}</cite>
                            </blockquote>
                            
                            <fieldset>
                                 <select ng-model="reviewCtrl.review.stars" class="form-control" title="Stars" required>
                                <option value="">Rate the Product</option>
                                <option value="1">1 star</option>
                                <option value="2">2 star</option>
                                <option value="3">3 star</option>
                                <option value="4">4 star</option>
                                <option value="5">5 star</option>
                                </select>
                            </fieldset>
                            <br/>
                            <fieldset class="form-group">
                                <textarea  ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
                            </fieldset>
                            <br/>
                            <fieldset class="form-group">
                                
                                 <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="email..." title="Review" required></input>
                            </fieldset>
                            <br/>
                            <input class="btn btn-primary pull-right" type="submit" value="submit"/>
                       </form>
                    </div>
                </section>
                
            </div>
            

        
        </div>
    </body>

</html>
